@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "CityList";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i> Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">Product List</li>
    </ol>
    <div class="ml-auto">
        @*<a href="" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> City Create
        </a>*@

    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <form action="#" role="form" class="card validate" id="formPost" enctype="multipart/form-data">
            <div class="card-header">
                <h3 class="card-title">City List</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Store Details</th>
                                <th scope="col">Product Code</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Product Images</th>
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody id="producttbl">
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        ProductList()
        function ProductList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Product/GetProductListForApproval",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {

                    console.log(res)
                    var z = ''
                    for (var i = 0; i < res.products.length; i++) {
                        for (var j = 0; j < res.products[i].productImages.length; j++) {
                            z = z + "<tr><td><p> " + res.products[i].storeName + "<br>" + res.products[i].storeCode + "<br>" + res.products[i].busineessContactInfo + "<br>" + res.products[i].address + "</p></td><td>" + res.products[i].productCode + "</td><td>" + res.products[i].productName + "</td><td>" + res.products[i].productDescription + "</td><td><p> " + res.products[i].mrp + "<br>" + res.products[i].sellingPrice + "</p></td><td><img  src=" + res.products[i].productImages[j].image + "/></td><td><a class='btn btn-success approve' onclick='approve(" + res.products[i].productId + ")' id='product' data-target='#product' data-id=" + res.products[i].productId + " data-title='Delete' href='#'><i class='fe fe-check mr-2'></i>Approve</a></td></tr>"
                        }
                    }
                    $('#producttbl').html(z);
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }
        function approve(id){
            swal({
                html: true,
                title: "Are you sure?",
                text: "You Approve This Product!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, confirm it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "@apiUrl/api/Product/ApproveProduct/" + id,
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status == 200) {
                           
                            sweetAlert({
                                html: true,
                                title: "Product",
                                text: "Successfully Approved",
                                type: "success"
                            });
                            ProductList();
                        } else if (xhr.status == 202) {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                });
            });
        }

        $(".approve").click(function (e) {
            alert('ddd')
            var id = $(this).data('id');
            swal({
                html: true,
                title: "Are you sure?",
                text: "You will not be able to recover this data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, confirm it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "@apiUrl/api/ApproveProduct/" + id,
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status == 200) {
                            $('#cityTable').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                title: "City",
                                text: "Successfully deleted!",
                                type: "success"
                            });
                        } else if (xhr.status == 202) {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                });
            });
        });
    </script>
}